*~
*.la
*.lo
*_ui.h
.deps
.libs
Makefile
Makefile.in
Makefile.in.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
configure.ac
depcomp
install-sh
intltool*
libtool
ltmain.sh
m4/
missing
panel-plugin/pulseaudio.desktop
panel-plugin/pulseaudio.desktop.in
po/*.gmo
po/.intltool-merge-cache*
po/Makefile.in.in
po/POTFILES
po/stamp-it
stamp-h1
ABOUT-NLS
po/LINGUAS
po/Makevars
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
po/xfce4-pulseaudio-plugin.pot
xfce4-pulseaudio-plugin-*.tar.bz2
