*~
*.la
*.lo
*_ui.h
.deps
.libs
Makefile
Makefile.in
Makefile.in.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
configure.ac
depcomp
install-sh
intltool*
libtool
ltmain.sh
m4/
missing
panel-plugin/pulseaudio.desktop
panel-plugin/pulseaudio.desktop.in
po/*.gmo
po/.intltool-merge-cache*
po/Makefile.in.in
po/POTFILES
po/stamp-it
stamp-h1
